footer(id="footer")
    div(class="footer-container")
        div(class="column")
            div 2755 Sand Hill Road, Suite 200  •  Menlo Park, CA 94025
            div Main 650 926-0510  •  Fax 650 926-0513
        div(class="column right")
            div © Makena Capital Management, LLC
            div info@makenacap.com  www.makenacap.com